@page
@model DZ12.Pages.Autos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Year)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Auto.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
